@charset "utf-8";
/* 注册内容 */
.main{
	position: relative;
	height: 555px;
	background-color: #f6f6f6;
}
.main .box{
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: 0 auto;
	
	margin-top: 40px;
	width: 750px;
	height: 477px;
	background-color: #ffffff;
	border-top: 3px solid #f76915;
}

.main .box input{
	font: 14px "宋体";
	color: #a0a0a0;
	width: 341px;
	height: 34px;
	padding: 0 10px;
	border: 1px solid #d8d8d8;
	vertical-align: middle;
}
.main .box input.yzm{
	width: 206px;
}
.main .box .yzm img{
	/* padding: 0 100px 0 18px; */
	width: 110px;
}

.main .box span{
	display: inline-block;
	font: 12px "宋体";
	color: #f15d03;
	padding: 10px 0 22px 0;
}

.main .box h2{
	font: 24px/90px "微软雅黑";
	text-align: center;
}

.main .box form{
	width: 410px;
	margin: 0 auto;
}

.main .box form i{
	display: inline-block;
	width: 34px;
	height: 34px;
	border: 1px solid #d8d8d8;
	background: #f6f6f6 url(../images/icon-dl.png) no-repeat -55px 10px;
	vertical-align: middle;
}

.main .box form .pwd i{
	background-position: -55px -55px;
}

.main .box form .mail input,
.main .box form .pwd input{
	border-left: 0;
}

.main .box form .em:hover input{
	border-color: #f15d03;
}
.main .box form .em:hover i{
	background-position: 9px 10px;
	border-color: #f15d03;
}
.main .box form .em:hover .pw{
	background-position: 9px -55px;
	border-color: #f15d03;
}


.main .box form>input{
	width: 400px;
	height: 44px;
	font: 20px/44px "微软雅黑";
	color: #f9ffff;
	margin-top: 10px;
	background-color: #f26b11;
	border-radius: 5px;
}

.main .box form>p{
	padding-left: 155px;
}
.main .box form>p,
.main .box form>p a{
	font: 12px "宋体";
	color: #323232;
	padding-top: 35px;
}

.main .box form>p a{
	color: #e15d00;
}

